.news-content{
    display: flex;
    height: 200px;
    width: 350px;
    flex-direction: column;
    background-color: #393e46;
    transition: 0.2s;
    position: relative;
}

.news-content .image{
    width: 80%;
    height: 80%;
}

.image img{
    height: 100%;
    width: auto;
}

.news-content strong{
    color: #fff;
}

.news-content p{
    color: lightgrey;
    text-transform: uppercase;
    margin: 0;
}


.news-content span{
    position: absolute;
    right: 40px;
    bottom: 10px;
}