body{
  background-color: #222831;
}


.groups{
  display: flex;
  flex-direction: column;
}

.groups .header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header a{
  color: #dddddd;
  text-decoration: none;
}

.header h1{
  color: lightgrey;
}



.groups .groups-cards{
  display: flex;
  justify-content: space-between;
}

.browse-bets{
  display: flex;
  flex-direction: column;
}

.browse-bets .bets-cards{
  display: flex;
  justify-content: left;
}

.news{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}


.nav{
  display: flex;
  justify-content: space-between;
}

.nav .left {
  display: flex;
}

.nav .left nav ul{
  display: flex;
  flex-direction: row;
}

.nav .left nav ul li{
  list-style: none;
  padding: 20px;
  transition: 0.2s;
  color: #dddddd;
  font-weight: bold;
}

.nav .left nav ul li:hover{
  box-shadow: lime inset 0 -3px 0 0;
  color: rgb(255, 255, 255);
}


.App{
  width: 90%;
  height: 100vh;
  margin: auto;
}

.banner{
  width: 100%;
  height: 50%;
  background-image: url('./assets/imgs/vi.jpg'); 
  background-position: right;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
}

.banner:after{
  opacity: 0.5;
}

.right{
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: space-evenly;
  width: 30%;
}

.right button{
    background-color: limegreen;
    color: #fff;
    height: 40px;
    width: 120px;
    font-weight: bold;
}