body{
  background-color: #222831;
}


.groups{
  display: flex;
  flex-direction: column;
}

.groups .header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header a{
  color: #dddddd;
  text-decoration: none;
}

.header h1{
  color: lightgrey;
}



.groups .groups-cards{
  display: flex;
  justify-content: space-between;
}

.browse-bets{
  display: flex;
  flex-direction: column;
}

.browse-bets .bets-cards{
  display: flex;
  justify-content: left;
}

